*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.searchbox{
    background-color: white;
    height: 170px;
    width: 350px;
    text-align: center;

}
.searchbox label{
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 15px;
}
.searchbox input{
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 15px;
}
.searchbox button{
    height: 40px;
    width: 100px;
    border: none;
    background-color:black;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 20px;

}